header {
  background-color: #FFCC99;
  box-shadow: 0px 0px 10px rgba(243, 229, 215, 1);
}

h1 {
  text-align: center;
  font-weight: bold;
}

main {
  background-color: #E6F2FF;
  display: flex;
}


aside {
  background-color: #B3D9FF;
  flex: 1;
  border: 1px solid #CCC;
}

section {
  margin: 20px;
  flex: 3;
}

footer {
  background-color: #99CC99;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 10px rgba(243, 229, 215, 1);
}